In [1]:
# First import the libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# Read the data

In [4]:
data = pd.read_csv('country_vaccination_stats.csv')

In [5]:
# Explore the data

In [6]:
data.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [7]:
data.describe()

       daily_vaccinations
count        1.442000e+03
mean         4.334959e+04
std          1.165367e+05
min          1.000000e+00
25%          1.659750e+03
50%          5.567000e+03
75%          2.797975e+04
max          1.126251e+06

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1442 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

A function to fill the missing data with the minimum values of the corresponding countries

In [9]:
def filler(cols):
    country = cols[0]
    vaccine = cols[1]
    
    if pd.isnull(vaccine):
        return data[data['country']==country]['daily_vaccinations'].min()
    else:
        return vaccine

Applying the function to dataframe

In [11]:
data['daily_vaccinations'] = data[['country','daily_vaccinations']].apply(filler,axis=1)

The only country with null value is Kuwait since it has no record of vaccinication, therefore set it to 0

In [12]:
data[data['daily_vaccinations'].isnull()]

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 NaN  Pfizer/BioNTech

In [13]:
data[data['country'] == 'Kuwait']

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 NaN  Pfizer/BioNTech

In [14]:
# Since kuwait has no record of vaccination, fill it with 0
data.loc[750,'daily_vaccinations'] = 0

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1502 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

In [16]:
data.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [17]:
# All null values are filled.

In [18]:
medians = data.groupby('country').median()

In [19]:
medians.sort_values(by='daily_vaccinations',ascending=False).head(3)

               daily_vaccinations
country
United States            378253.0
China                    276786.0
India                    173922.0

In [20]:
sum(data[data['date'] == '1/6/2021']['daily_vaccinations'])

1485255.0